.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
   }
   .shop_name{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 29px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
   }
   .search_bar{
       width: 400px;
       display: flex;
    align-items: center;
   }
   .search_bar input{
    width: 300px;
  }
  .cart{

  }