html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
.wrapper {
	width: 98%;
	background-color: #fff;
	margin: 1%;
	display: grid;
  grid-gap: 10px;
  border: 1px solid red;
}

/* grid system -- mobile first! */
.col-1-2,
.col-1-4 {
  background-color: #ffc;
}
.r1c0 {
  background-color: #ccf;
  display: flex;
}
.r2c0 {
  background-color: #fcf;
}
.r3c1 {
  background-color: #cff;
}
.r3c2 {
  background-color: rgb(204, 255, 208);
}
.r4c0 {
  background-color: rgb(92, 119, 119);
}
.r5c0 {
  background-color: rgb(169, 120, 214);
}
.r6c0 {
  background-color: rgb(168, 116, 155);
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px)  {
  
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .wrapper {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(6, auto); 
	}
  .r1c0 {
		grid-column: 1/6;
	}
  .r2c0 {
		grid-column: 1/6;
	}
  .r3c1 {
		grid-column: 1/2;
  }
  .r3c2 {
    grid-column: 2/6;
  }
  .r4c0 {
    grid-column: 1/6;
  }
  .r5c0 {
    grid-column: 1/6;
  }
  .r6c0 {
    grid-column: 1/6;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
